/CCH_Missing-Number/.idea
/CCH_Number-Of-Occurrences/.idea
/Design_Pattern_Examples/Singleton_Egaer/.idea
/Design_Pattern_Examples/LazyInitialization/.idea
/Design_Pattern_Examples/Double_Checking/.idea